{% extends "main.html" %}
{% block body %}
<section id="main">	
	<div id="post">
		<div class="head">
			<div class="inner">
				<h2>{{ post.title }}</h2>
				<small>Posted by {{ post.author }} on {{ post.created|friendlytime }}</small>
			</div>
		</div>
		<div class="cell">{{ post.html|markdown|safe }}</div>
	</div>
	<div class="sep20"></div>
	<div id="comment">
		<div class="head">
			<div class="inner">
				<h5>replies:{{ post.replies_count }}</h5>
			</div>
		</div>
		{% for reply in replies %}
			<div class="cell">
				{{ reply.author }} {{ reply.ctime }}
				<p> {{ reply.content }} </p>
			</div>
		{% else %}
			<div class="empty">
				<span>There is no replies yet.</span>
			</div>
		{% endfor %}
	</div>
	{% if session.username %}
		<div class="sep20"></div>
		<div id="addReply">
			<div class="head">
				<div class="inner">
					<span>Add New Reply</span>
				</div>
			</div>
			<form action="{{ url_for('reply',id=post.id) }}"  method="post">
				<p><textarea rows=10 name="content" id="content"></textarea></P>
			
				<input type="submit" value="Submit" />
			</form>
		</div>
	{% endif %}
</section>
<section role="sidebar">
	{% if session.username %}
		<div class="head">
			<div class="inner">
				<h5><a href="{{ url_for('personcenter', name=session.username) }}">{{ session.username }}</a></h5>
			</div>
		</div>
	{% else %}
		<div class="head">
			<div class="inner">
				<h5>V2XM = way to extreme/explore</h5>
			</div>
		</div>
	{% endif %}
</section>
{% endblock %}