{% extends "main.html" %}
{% block body %}
<section role="main">
{% for post in posts %}
	<div class="post">
		<a id="title" href="{{ url_for('detail', id=post.id) }}">{{ post.title }}</a>
		<a id="author" href="{{ url_for('personcenter', name=post.author) }}">{{ post.author }}</a>		
		<small> @{{ post.created }}</small>
		<span><a href="{{ url_for('detail', id=post.id) }}">{{ post.replies_count }}</a><div class="clear"></div></span>
		
	</div>
{% else %}
	<p>No posts yet.</p>
{% endfor %}
</section>
<section role="sidebar">
	{% if session.username %}
		<div class="head">
			<div class="inner">
				<h5><a href="{{ url_for('personcenter', name=session.username) }}">{{ session.username }}</a></h5>
			</div>
		</div>
	{% else %}
		<div class="head">
			<div class="inner">
				<h5>V2XM = way to extreme/explore</h5>
			</div>
		</div>
	{% endif %}
</section>
{% endblock %}
