{% extends "main.html" %}
{% block body %}
<section role="main">
{% for user in users %}
	<div class="post">
	<a id="title" href="{{ url_for('personcenter', name=user.username) }}">{{ user.username }}</a>
	<small>{{ user.join }}</small>
	{% if session.gid == 1 %}
		<a id="option" href="{{ url_for('deluser', id=user.id) }}">delete</a>
	{% endif %}
	<br />	
	</div>
{% else %}
	<p>No user yet.</p>
{% endfor %}
</section>
<section role="sidebar">
	{% if session.username %}
		<div class="head">
			<div class="inner">
				<h5><a href="{{ url_for('personcenter', name=session.username) }}">{{ session.username }}</a></h5>
			</div>
		</div>
	{% else %}
		<div class="head">
			<div class="inner">
				<h5>V2XM = way to extreme/explore</h5>
			</div>
		</div>
	{% endif %}
</section>
{% endblock %}