{% extends "main.html" %}
{% block body %}
<section id="main">
	<div id="post">
		<div class="head">
			<div class="inner">
				<span>Posts:</span>
			</div>
		</div>
	{% for post in posts %}
		
			<div class="cell">
				<a id="title" href="{{ url_for('detail', id=post.id) }}">{{ post.title }}</a>
				<small>{{ post.created|friendlytime }}</small>
				{% if session.username %}
				<div class="option">
					<a href="{{ url_for('edit', id=post.id) }}">edit</a>
					<a href="{{ url_for('delete', id=post.id) }}">delete</a>
				</div>
				{% endif %}
				<div class="clear"></div>
			</div>
	
	{% else %}
		<div class="empty">
			<p>No posts yet.</p>
		</div>
	{% endfor %}
	</div>
	<div class="sep20"></div>
	<div id="comment">
		<div class="head">
			<div class="inner">
				<span>Replies:</span>
			</div>
		</div>
	{% for reply in replies %}
		
		<div class="cell">
			<a href="{{ url_for('detail', id=reply.post_id) }}">{{ reply.content }}</a> <small> {{ reply.ctime|friendlytime }}</small>
		</div>
	{% else %}
		<div class="empty">
			<p>No replies yet.</p>
		</div>
	{% endfor %}
	</div>

</section>
<section role="sidebar">
	<div class="head">
		<div class="inner">
			<h5><a href="{{ url_for('personcenter', name=user.username) }}">{{ user.username }}</a></h5>
		</div>
	</div>
	<div class="cell">
		<p>No.{{ user.id }}</p><p> {{ user.join }}joined</p>
	</div>
	</div>
	
</section>
{% endblock %}